form{
	width: 700px;
	height: 900px;
	background-image: linear-gradient(rgb(130, 222, 255), rgb(255, 170, 251));
	border: 5px dotted black;
	margin-left: auto;
	margin-right: auto;
	padding: 10px;
	color: white;
	font-weight: bold;
}



table {
	border-collapse: separate;
	border-spacing: 0 13px;
}